.internships-container {
    transition: transform 300ms;
    &:hover {
        transform: scale(1.04);
        box-shadow: 0 0 1em 0.4em #eee;
        cursor: pointer;
        .internships-container-title {
            background: rgba(234, 239, 255, 0.521);
            transition: all 600ms ease;
        }
    }
}

a:hover {
    text-decoration: none;
}